body {
    font-family: "Lato";
}

.jumbotron {

    background-color: rgb(155,221,255);
    text-align: center;
    text-decoration-line: underline;
}

#booklist {
    border-width: 20px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 35px;
}

.caption {
    text-align: center;
}

img {
    align-content: center;
}

#searchbar {
    text-align: center;
}

#columns {
    padding-top: 10px;
}

#navbar {
    color: #E5F1F8;
}

.book {
    height: auto;
}

#postButton {
    margin-top: 10px;
}