html {
	background-color: #FFFFFFFF;
}

body {
	background-color: #FFFFFFFF;
}

#form {
	width: 100%;
	background-color: #FFFFFFFF;
}

#navbar {
	background-color: #FFFFFFFF;
}

#landing {
    text-align: center;
}