body {
	margin-bottom: 50px;
	background: none;
}
.jumbotron {
	/*background: url(../imgs/columbia.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;  
    -moz-background-size: cover; 
    -o-background-size: cover; 
    background-size: cover;*/
    background: url(../imgs/columbia.jpg) fixed no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.push-spaces{
	height: 30em;
}

