<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="utf-8">
  <title>Sell.html</title>
  <meta name="description" content="Sell Item Page">
  <meta name="author" content="ADI Labs Marketplace">

</head>
<body>
  <div class="row">
      <div class="large-12 columns">
          <div class="panel">

          <h2>Register</h2>

          <form action="" method="POST">
            <p> Book name: <input name="name"></p>
            <p> ISBN: <input name="isbn"></p>
            <p> Department: <input name="dep"></p>
            <p> Price: <input name="price"></p>

            <input type="submit" value="Post">
          </form>

          </div>
      </div>
  </div>

<!-- 
  <script src="{{ url_for('static', filename='js/vendor/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/foundation.js') }}"></script>
  <script>
    $(document).foundation();
  </script>
-->

</body>
</html>