{% extends "base.html" %}

{% block title %}Book Info{% endblock %}

{% block body %}

    <div class="page-header">
        <h1>Results</h1>
    </div>

    <div class= "bookinfo-wrapper">
        <div class="left-side">
            <div class="row">
                <div class="col-lg-6">
                    <img src="...">
                </div>
            </div>
        </div>
        <div class="right-side">
                    <div class="caption">
                        <h3>{{book.book_name}}</h3>
                        <p>{{ book.description }}</p>
                        <p>{{ book.price }}</p>
			<p>{{ book.user_name}}</p>
			<p>{{book.contact_info}}</p>
                        <!--This should populate the page with the respective book-->
{#                      <p><a href="#" class = "btn btn-primary" role="button" methods="GET">Buy now</a></p>#}
                    </div>
                </div>
             
        </div>
    </div>


{% endblock %}
