{% extends "base.html" %}
    {% block title %} Booklist {% endblock %}
        {% block body %}
        <!--Search Bar-->
	    <form action="/booklist" method="post">
                <div class="row">
                    <div class="col-lg-6">		    
                        <input type="text" class="form-control" placeholder="Search for a book here" name="search">
                    	<span class="input-group-btn">
                        	<button class="btn btn-default" type="button">Go!</button>
                        </span>                   
                    </div>
                </div>
             </form>

            <!--This will end up being what flask iterates, adding the list of available books to the page-->
            <div class="row">
                <div class="col-md-4">
                    {% for book in listOfBooks %}
                    <img src="..." alt="...">
                    <div class="caption">
                        <h3>{{book.book_name}}</h3>
                        <p>{{ book.description }}</p>
                        <p>{{book.user_name}}</p>
                        <p>{{ book.contact_info }}</p>
                        <p>{{ book.price }}</p>
                        <!--This GET method will pull the book information and redirect the user to an info page-->
                      <p><a class = "btn btn-primary" role="button" methods="GET">Buy now</a></p>
                    </div>
                </div>
                {% endfor %}
            </div>
        {% endblock%}
