{% extends "base.html" %}
    {% block title %} Booklist {% endblock %}
        {% block body %}
        <!--Search Bar-->

	    <form action="/booklist" method="POST">
                <div class="container">
                    <div class="row" id="searchbar">
                        <div class="col-lg-12">		    
                            <input type="text" class="form-control" placeholder="Search for a book here" name="search">
                        	<!-- span class="input-group-btn"> -->
                            	<button class="btn btn-default" type="button">Go!</button>
                            <!-- </span>   -->                 
                        </div>

                    </div>
                </div>
             </form>

            <!--This will end up being what flask iterates, adding the list of available books to the page-->
            <div class="post-container">
                <div class="post-thumb">
                    <img src={{book.image}} alt="..." width=200px height=auto>
                    
                </div>
                <div class="post-content">  
                     <h3 class="post-title">{{book.book_name}}</h3>
                     <p class="post-number">{{ book.price }}</p>
                     <p>{{ book.description }}</p>                          
                     <p class="post-caption">{{ book.contact_info }}</p>
                </div>
            </div>
        {% endblock%}   