{% extends "base.html" %}
    {% block title %} Booklist {% endblock %}
        {% block body %}
        <!--Search Bar-->

	    <form action="/booklist" method="POST">
                <div class="container">
                    <div class="row" id="searchbar">
                        <div class="col-lg-12">		    
                            <input type="text" class="form-control" placeholder="Search for a book here" name="search">
                            <!-- <input name="searchsubmit" type="image" value="Go" id="searchsubmit" class="btn btn-primary"  /> -->
                        	<!-- span class="input-group-btn"> -->
                            	<button class="btn btn-primary" role="button" methods="POST">Go!</button>
                            <!-- </span>   -->                 
                        </div>

                    </div>
                </div>
             </form>

            <!--This will end up being what flask iterates, adding the list of available books to the page-->
            <div class="container">
                <div class="row" id="booklist">
                    {% for book in listOfBooks %}
                    <div class="center-block" id="columns">
                        <div style="display:inline-block;vertical-align:top;">
                            <p><img src={{book.image}} alt="..." width=200px height=auto></p>
                        </div>                    
                            <h3>{{book.book_name}}</h3>
                            <p>{{ book.description }}</p>
                            <p>{{ book.price }}</p>
                           <p><a class = "btn btn-primary" role="button" methods="POST" href="/bookinfo/{{book.book_name}}" action="booklist">Buy now</a></p>
                    </div>
                    {% endfor %}
                </div>
            </div>
        {% endblock%}