<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Login Screen</title>
  <meta name="description" content="Login Screen">
  <meta name="author" content="ADI Labs Marketplace">
  <link rel="stylesheet" href="../static/css/login.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</head>
<body>
  <!-- Header and Jumbotron img -->
  <nav class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Columbia Marketplace</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li>
          <a href="/login" data-toggle="modal" data-target="#myModalLogin">Sign In</a>
        </li>
        <li>
          <a href="/register" data-toggle="modal" data-target="#myModalRegister">Register</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="jumbotron">
    <div class="container push-spaces">
    </div>
  </div>

  <!-- Login Modal -->
  <div class="modal fade" id="myModalLogin" tabindex="-1" role="dialog" aria-labelledby="myModalLogin">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLogin">Sign in with your Columbia email</h4>
        </div>
        <div class="modal-body">
          <form action="" method="POST" name="form" value="login">
              {{ form.csrf_token }}
            <div>
              <h2>Email</h2>
              {{ form.name(class="form-control", placeholder="Email", rows="1") }}
            </div>
            <div>
              <h2>Password</h2>
              {{ form.password(class="form-control", placeholder="Password") }}
            </div>
            <input type="submit" name="form" value="login" class="btn btn-default">
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Register Modal -->
  <div class="modal fade" id="myModalRegister" tabindex="-1" role="dialog" aria-labelledby="myModalRegister">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalRegister">Register with your Columbia email</h4>
        </div>
        <div class="modal-body">
          <form action="" method="POST" name="form" value="register">
              {{ form.csrf_token }}
            <div>
              <h2>Email</h2>
              {{ form.name(class="form-control", placeholder="Email", rows="1") }}
            </div>
            <div>
              <h2>Phone Number</h2>
              {{ form.contact_info(class="form-control", placeholder="Phone Number", rows="1") }}
            </div>
            <div>
              <h2>Password</h2>
              {{ form.password(class="form-control", placeholder="Password") }}
            </div>
            <input type="submit" name="form" value="register" class="btn btn-default">
          </form>
        </div>
      </div>
    </div>
  </div>

</body>
</html>