{% extends "base.html" %}
    {% block title %} My Books {% endblock %}
        {% block body %}

        	<div class="page-header">
        		<h1>My Books</h1>
    		</div>

            <!--This will end up being what flask iterates, adding the list of available books to the page-->
            <div class="row">
                {% for book in list_of_my_books %}
                    {% if current_user.name == book.user_name %}
                        <div class="col-md-4">
                             <div style="display:inline-block;vertical-align:top;">
                                <p><img src={{book.image}} alt="..."></p>
                            </div>
                            <div style="display:inline-block;text-align: center;">
                                <h3>{{book.book_name}}</h3>
                                <p>{{ book.description }}</p>
                                <p>{{ book.user_name }}</p>
                                <p>{{ book.contact_info }}</p>
                                <p>{{ book.price }}</p>
		                        <!--This GET method will remove a listing from the database-->
                     			<p><a class = "btn btn-primary" role="button" methods="POST" action="booklist" href="/delete/{{book.book_name}}">Delete Listing</a></p>
		                    </div>
	                    </div>
                    {% endif %}
                {% endfor %}
            </div>
        {% endblock%}