{% extends "base.html" %}
    {% block title %} My Books {% endblock %}
        {% block body %}

        	<div class="page-header">
        		<h1 style="text-align: center;">My Books</h1>
    		</div>

            <div class="container">
                <div class="row" id="booklist">
                    {% for book in list_of_my_books %}
                    <div class="center-block" id="columns">
                        <div style="display:inline-block;vertical-align:top;">
                            <p><img src={{book.image}} alt="..." width=200px height=auto></p>
                        </div>                    
                            <h3>{{book.book_name}}</h3>
                            <p>{{ book.description }}</p>
                            <p>{{ book.price }}</p>
                            <p><a class = "btn btn-primary" role="button" methods="POST" action="booklist" href="/delete/{{book.book_name}}">Delete Listing</a></p>
                    </div>
                    {% endfor %}
                </div>
            </div>

        {% endblock%}